* {
    box-sizing: border-box;
}

body {
    background: #1a31b6;
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.xamine, .userForm {
    text-align: center;
    vertical-align: center;
}

.details {
    background: #fff;
    color: #1a31b6;
}

.correctAnswer {
    text-decoration: bold;
    color: blue;
}

.reset {
    height: 50vh;
}